/* .body {
  background-color: blue;
  background-image: url(https://www.city-journal.org/sites/cj/files/New-York.jpg)
} */

html {
  background: url(ny-bw.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  /* background-color: lightgrey; */
  background-color: transparent;
}
.center {
  text-align: center;
}
.top-row{
  margin-top: 20px;
  margin-left: 10px;
}
.title{
  font-size: 20px;
  color: white;
}

.logo{
  height: 40px;
/*   border-radius: %; */
}

.about-container{
  text-align:right;
}
.about{
  text-align: right;
  font-size: 16px;
  vertical-align: middle;
  color: white;
/*   background-color: rgba(0,0,0,.5);
  border: 3px solid rgba(0,0,0,.05); */
  line-height: 200%;
}

.about:hover,
.about:focus{
  color: grey;
  text-decoration: none;
  outline: 0;
  flow-into: none;
}
.main-section{
  margin-left: 25px;
  margin-top: 50px;
}

.your-image-label{
  margin-bottom: 20px;
}

.left-section{
  /* vertical-align: middle; */
  margin-top: 100px;
}
.image-cropper {
    width: 350px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.words{
    display: table-cell;
    width: 500px;
    height: 500px;
    vertical-align: middle;
    text-align: center;
}
.right-section{
  margin: 10px;
}

.right-text{
  padding: 20px;
  font-size: 16px;

}

.image-tag{
  font-size: 14px;
  background-color: lightblue;
  border: 3px solid lightblue;
  line-height: 200%;
}

.tags{
  width: 50%;
  margin: 0 auto;
}

.generated-tag{

}

.genreMood{
  font-size: 17px;
  background-color: lightblue;
  color: black;
  border: lightblue;
  line-height: 100%;
}
.highlighted-text{
  font-size: 16px;
  background-color: rgba(0,0,0,.5);
  color: white;
  border: 3px solid rgba(0,0,0,.05);
  line-height: 200%;
}
